.component {
    position: relative;
    /*display: inline-block;*/
}

.header {
    width: 100%;
    height: 300px;
    background: #F4F4F4;
}

.header * {
  outline: none;
}

img {
  user-select: none;
}

body {
    background: #f4f4f4;
}

.signInComponent {
    position: absolute;
    font-size: 8px;
    border-radius: 15px;
    width: 266px;
    height: 45px;
    text-align: center;
    right: 12px;
    top: 12px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0d0d0d;
    text-transform: lowercase;
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.statsComponent {
    width: 240px;
    height: 300px;
    background: #ffffff;
    border-radius: 35px;
    margin-top: 2%;
    overflow: hidden;
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.latestVideoPerformanceComponent {
    top: 100px;
    width: 800px;
    height: 400px;
    background: #ffffff;
    border-radius: 35px;
    text-transform: lowercase;
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.latestVideoPerformanceComponent .videoThumbnail {
    position: absolute;
    border-radius: 20px;
    margin-top: 3.5%;
    left: 25px;
    width: 300px;
    height: 166px;
}

.latestVideoPerformanceComponent .videoTitle {
    position: absolute;
    left: 44%;
    margin-top: 3.5%;
    text-align: left;
    float: left;
    display: block;
}

.latestVideoPerformanceComponent .explanation {
    position: absolute;
    left: 44%;
    margin-top: 10%;
    text-align: left;
    max-width: 50%;
}

.latestVideoPerformanceComponent .statsList {
    position: absolute;
    text-align: left;
    list-style: none;
    left: 0px;
    top: 200px;
    width: 100%;
    line-height: 5%;
}

.latestVideoPerformanceComponent .statsList li {
    position: relative;
    right: 1%;
}

.latestVideoPerformanceComponent .statsList .statTitle {
    position: relative;
    display: block;
    float: left;
}

.latestVideoPerformanceComponent .statsList .statValue {
    position: relative;
    display: block;
    right: 50px;
    float: right;
}

.component .componentTitle {
    font-size: 1.25em;
    margin-top: 40px;
    float: left;
    width: 100%;
    text-align: left;
    margin-left: 25px;
    color: darkslategray;
    display: block;
    font-weight: 500;
    text-transform: lowercase;
}

.component .componentValue {
    font-size: 4vw;
    float: left;
    margin-left: 25px;
    margin-top: 0;
    display: block;
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.stats {
    position: relative;
    top: 150px;
    flex-wrap: wrap;
}

.summaries {
    position: relative;
    top: 150px;
}

.userDetails {
    position: relative;
    top: 86px;
    overflow: hidden;
    height: 300px;
    width: 100%;
    color: black;
}

.userDetails h1 {
    color: black;
    display: inline-block;
    position: relative;
    bottom: 64px;
    left: calc(10% + 16px);
    transform: translate(0, 25%);
    margin-left: 50px;
    font-size: 3vw;
}

.userDetails .bannerImage {
    position: absolute;
    z-index: 0;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
    border-radius: 25;
    left: 0;
    transform: translate(-10%, -25%);
    filter: brightness(0.75);
    /*background-repeat: repeat;*/
}

.userDetails .profileImage {
    position: relative;
    z-index: 100;
    left: 10%;
    border-radius: 50%;
}

.viewSelectorComponent {
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 100px;
    margin-left: 0%;
    margin-top: 50px;
}

.viewSelectorComponent ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    list-style: none;
    gap: 100px;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-flex: 1 1 auto;
    -webkit-column-gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.viewSelectorComponent ul::after {
    content: '';
    width: 100%;
    height: 55px;
    position: absolute;
    background: #FFFFFF;
    top: -16px;
    left: 0;
    z-index: -100;
    border-radius: 16px;
}

.viewSelectorComponent ul a {
    position: relative;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    z-index: 5;
}

.bgContainer {
  transition: 0.5s;
  width: 125px;
  height: 50%;
  left: 0;
  position: absolute;
}

.bg { 
    width: 100%;
    height: 100%;
    /*left: 50%;*/
    /*top: 50%;*/
    transform: translate(25%, 25%);
    background-image: linear-gradient(to right, #DD459D, #E56262);
    border-radius: 13px;
    z-index: -100;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.entry-0.selected ~ .bgContainer {
  transform: translate(1.5rem, -50%);
}

.entry-1.selected ~ .bgContainer {
  transform: translate(11.75rem, -50%);
}

.entry-2.selected ~ .bgContainer {
  transform: translate(21.25rem, -50%);
}

.entry-3.selected ~ .bgContainer {
  transform: translate(31.4rem, -50%);
}

.entry-4.selected ~ .bgContainer {
  transform: translate(42rem, -50%);
}

.entry-5.selected ~ .bgContainer {
  transform: translate(53.8rem, -50%);
}

.viewSelectorComponent ul a {
    color: black;
    text-decoration: none;
}
.viewSelectorComponent ul a.selected {
    color: white;
}

.signInComponent:hover {
   box-shadow: 0px 5px 30px 4px rgba(0, 0, 0, 0.15);
}

.statsComponent:hover {
    box-shadow: 0px 15px 30px 4px rgba(0, 0, 0, 0.1);
}
.latestVideoPerformanceComponent:hover {
    box-shadow: 0px 15px 30px 4px rgba(0, 0, 0, 0.1);
}

@media(prefers-color-scheme: dark) {
    body, .header {
        background: #0D0D0D;
    }
    .viewSelectorComponent ul a {
        color: white;
    }
    .statsComponent {
        background: #1D1D1D;
        color: white;
    }
    .component .componentTitle {
        color: white;
    }
    .userDetails h1 {
        color: white;
    }
    .signInComponent {
        background-color: #1d1d1d;
        color: white;
    }
    .latestVideoPerformanceComponent {
        background: #1D1D1D;
    }
    .latestVideoPerformanceComponent .videoTitle {
        color: white;
    }

    .latestVideoPerformanceComponent .explanation {
        color: white;
    }
    .latestVideoPerformanceComponent .statsList {
        color: white;
    }
    .viewSelectorComponent ul::after {
        background: #1D1D1D;
    }
    .signInComponent:hover {
        box-shadow: 0px 5px 30px 4px rgba(0, 0, 0, 1);
    }
    .statsComponent:hover {
        box-shadow: 0px 15px 30px 4px rgba(0, 0, 0, 1);
    }
    .latestVideoPerformanceComponent:hover {
        box-shadow: 0px 15px 30px 4px rgba(0, 0, 0, 1);
    }
}
